services:
  mongo:
    image: mongo:7
    container_name: day2-mongodb
    ports:
      - "27017:27017"
    healthcheck:
      test: echo "db.runCommand('ping').ok" | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 5s
      retries: 5
  backend:
    image: node:20
    container_name: day2-backend
    working_dir: /app
    volumes:
      - ./server:/app
    command: sh -c "npm install && npm start"
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb://mongo:27017/test
  frontend:
    image: node:20
    container_name: day2-frontend
    working_dir: /app
    volumes:
      - ./client:/app
    command: sh -c "npm install && npm start"
    ports:
      - "3000:3000"
    depends_on:
      - backend
    stdin_open: true
    tty: true
